
.primaryBg {
  background-color: light-dark(var(--mantine-color-rocketGray-2), var(--mantine-color-rocketBlack-8));
}

.buttonBg{
  background-color: light-dark(var(--mantine-color-rocketGray-2), var(--mantine-color-rocketBlack-8));
}