.footer {
  padding-top: calc(var(--mantine-spacing-md) * 1.5);
  padding-bottom: calc(var(--mantine-spacing-xs) * 1);
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-1));
  border-top: 2px solid light-dark(#FFD8A8, #FF6B35);
}

.logo {
  max-width: 200px;
  border-radius: 10px;
  padding: 5px;
  @media (max-width: 726px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  color: white;
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: 726px) {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
  }
}

.groups {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: nowrap;
  width: 100%;
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.link {
  display: block;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-md);
  //padding-bottom: var(--mantine-spacing-xs);
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}