/* .navbarTop{
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease; 
} */

/* .navbarScrolled{  
  background-color: rgb(255, 255, 255);
  opacity: 0.95;
  top: 10px;
  width: 95%;      
  margin-inline: auto;        
  border-radius: 15px;  
  transition: all 0.3s ease;  
  overflow: hidden;
} */

.headerDesktop {
    padding-block: 5px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    background-color: light-dark(var(--mantine-color-rocketOrange-6), var(--mantine-color-dark-7));
  }
  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    height: 36px;
    transition: all 0.2s ease;

    @media (max-width: $mantine-breakpoint-sm) {
      height: 42px;
      width: 100%;
    }

    &:hover {
      background-color: var(--mantine-color-rocketRed-6);
      border-radius: 10px;
      color: white
    }
  }

  .drawerLink {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: var(--mantine-color-rocketRed-6);
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    height: 36px;
    transition: all 0.2s ease;

    @media (max-width: $mantine-breakpoint-sm) {
      height: 42px;
      width: 100%;
    }

    &:hover {
      background-color: var(--mantine-color-rocketRed-6);
      border-radius: 10px;
      color: white
    }
  }
  
  .subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
  }
  
  .dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }