.custom-toast {
    margin-inline: 5px;
    margin-block: 2px;
    border-radius: 5px;
    

    @media (max-width: 600px){
        width: 60%;
    }
}

.card-hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-hover:hover {
    background-color: rgb(238, 237, 237);
}